*{margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
li{list-style: none;}
ul{
    background-color: beige;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* flex 방향 기본은 row 세로는 column */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    align-items: center;
}
.item{
    width: 40px;
    height: 40px;
    margin: 20px;
}
.item1{
    height: 100px;
    background-color: lightblue;
}
.item2{
    background-color: lightgray;
}
.item3{
    background-color: lightgreen;
}
.item4{
    background-color: lightpink;
}
.item5{
    background-color: lightcyan;
}
.item6{
    background-color: lightblue;
}
.item7{
    background-color: lightgoldenrodyellow;
}
.item8{
    background-color: lightsalmon;
}
.item9{
    background-color: lightseagreen;
}
.item10{
    background-color: lightskyblue;
}