*{margin: 0;padding: 0;}
a{text-decoration: none; color: #000;}
li{list-style: none;}
header{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border: 1px solid red;
}
section div{
    float: left;
}
section{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid red;
}
section div{
    width: 100px;
    height: 100%;
}
section div::after{
    display: block;
    content: "";
    clear: both;
    background-color: red;
    /* display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50px; */
}

section div:nth-of-type(1){
    background-color: lightblue;

}
section div:nth-of-type(2){
    background-color: lightcoral;
}
section div:nth-of-type(3){
    background-color: lightgreen;
}
section div:nth-of-type(4){
    background-color:lightseagreen
}