*{margin: 0; padding: 0;}
a{text-decoration: none; color: #fff;}
li{list-style: none;}
header{
    width: 100%;
    background-color: navy;
    
}
nav{
    margin: 0 auto;
    width: 1200px;
    box-sizing: border-box;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo i{
    color: orange;
}
.nav_logo a{
    font-size: 26px;
}
.nav_menu{
    display: flex;
    padding: 8px 12px;
}
.nav_menu li{
    padding: 8px 12px; 
}
.nav_sns{
    display: flex;
}
.nav_sns li{
    padding: 8px 12px;
}